#content p {
    font-size: 1.2em;
}

h1 {
    font-size: 6em !important;
    color: #FFD700;
    -webkit-text-stroke: 2px #a38b00;
}

.btn {
    font-size: 1.2em !important;
    padding: 0.8em 2em 0.8em 2em !important;
}
