div#content {
    height: 95vh;
}

div#question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img#question-image {
    display: inline;
    max-height: 30vh;
    vertical-align: top;
    border-radius: 16px;
    aspect-ratio: 3/2;
    object-fit: cover;
}