/*#8eaccd*/
html {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 123, 255, 255);
}

div#content {
    background-color: white;
    border-radius: 8px;
    padding: 2em;
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 75));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titan One', sans-serif;
}

